@import "tailwindcss";

html, body {
  background: transparent !important;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: hidden;
}

* {
  cursor: none;
}

@keyframes loading-bar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

.animate-loading-bar {
  animation: loading-bar 200ms ease-out forwards;
}

.fade-enter {
  opacity: 0;
  animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}